/************ General ************/
::-webkit-scrollbar {
	display: none;
}
html {
	font-family: 'Roboto', sans-serif;
}
h1, h2, h4{
	font-weight: 500;
}

/*********************************/
/************ Navbar *************/
nav {
	background-color: transparent;
}
nav ul li a{
	color: black;
}

.hiddendiv{
  display: none;
}
.brand-logo img {
	max-height: 2em;
	margin-left: 1em;
}
.brand-logo img:last-of-type {
	margin-left: 1.5em;
}
.table-of-contents a.active {
	border-left: 2px solid #3C90CB;
}
.table-of-contents a:hover {
	border-left: 1px solid #3C90CB;	
}

/*********************************/
/************ Footer *************/
footer {
	background-color: #004680 !important;
}
.footer-copyright .container .row .col a {
	color: white;
}
/*********************************/